﻿@using xpos334.viewmodels;
@model VMTblProduct
@{
    ViewData["Title"] = "Delete Product";
}

<div class="card">
    <div class="card-body">
        <form asp-action="SureDelete" method="post" id="form_delete">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <h3>Are you sure for delete @Model.NameProduct ?</h3>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a asp-controller="Product" asp-action="Index" class="btn btn-cyan">No</a>
            </div>
        </form>
    </div>
</div>

<script>
    $("#form_delete").validate({
        submitHandler: function (form) {
            // var dataParam = $(form).serialize()
            var id = $("#Id").val()
            $.ajax({
                url: '/Product/SureDelete',
                type: "post",
                data: { id: id },
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        $("#my_Modal").modal("hide")
                        // toastr.success(
                        //     data.message,
                        //     '',
                        //     {
                        //         timeOut: 500,
                        //         fadeOut: 500,
                        //         onHidden: function () {
                        //             window.location.reload()
                        //         }
                        //     }
                        // )
                        Swal.fire({
                            title: "Information!",
                            text: data.message,
                            icon: "success"
                        }).then((result) => {
                            // Jika pengguna menekan tombol OK, result.value akan berisi true
                            if (result.value) {
                                // Reload halaman setelah menekan tombol OK
                                window.location.reload();
                            }
                        });
                                        }
                    else {
                        toastr.errorClass(data.message)
                    }
                }
            })
        }
    })
</script>