﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Page Friend";
}

<h1>@ViewData["Title"]</h1>
<a class ="btn btn-primary" asp-controller="Friend" asp-action="Create">Create</a>

<table class="table">
    <thead class="thead-dark">
    </thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
    </tr>
    <tbody>
   @* @foreach(Friend item in Model) *@
   @foreach(Friend item in ViewBag.ListFriend)
    {
        <tr>
            <th scope="row">@item.Id</th>
           <td>@item.Name</td>
           <td>@item.Address</td>
           <td>
                    <a type="button" class="btn btn-success" asp-controller="Friend" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a type="button" class="btn btn-warning" asp-controller="Friend" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                    <a type="button" class="btn btn-danger" asp-controller="Friend" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
        </tr>
    }
    </tbody>
    
</table>