﻿@using xpos334.datamodels;
@model TblRole
@{
    ViewData["Title"] = "Delete Role";
}
<div class="card">
    <div class="card-body">
        <form asp-action="SureDelete" method="post" id="form_delete">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <h3>Are you sure for delete @Model.RoleName ?</h3>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a asp-controller="Role" asp-action="Index" class="btn btn-cyan">No</a>
            </div>
        </form>

    </div>
</div>
<script>
    $("#form_delete").validate({
        submitHandler: function () {

            var id = $("#Id").val()

            $.ajax({
                url: '/Role/SureDelete',
                type: "post",
                data: { id: id },
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon

                    if (data.success) {
                        $("#my_Modal").modal("hide")

                        toastr.success(
                            data.message,
                            '',
                            {
                                timeOut: 500,
                                fadeOut: 500,
                                onHidden: function () {
                                    window.location.reload()
                                }
                            }
                        )
                    }
                    else {
                        toastr.errorClass(data.message)
                    }
                }
            })

        }
    })
</script>