﻿@using xpos334.datamodels;
@using xpos334.viewmodels;

@model TblRole


@{
    ViewData["Title"] = "Edit Role";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4" @ViewData["Title"]></div>

        <form asp-action="Edit" method="post" id="form_input">

            <input type="hidden" class="form-control" id="Id" Name="Id" value="@Model.Id">

            <div class="mb-4 row ">
                <label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="RoleName" Name="RoleName" value="@Model.RoleName">
                    <span id="validate_RoleName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-outline-primary" asp-controller="Role" asp-action="Index">Back To List</a>
                </div>
            </div>


        </form>

    </div>
</div>


<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            RoleName: {
                required: true,
                minlength: 3,
            }
        },
        messages: {
            RoleName: {
                required: "Please fill Role Name",
                minlength: "The name must consist of at least 3 characters",
            }
        },
        submitHandler: function (form) {

            var dataForm = $(form).serialize()
            var Rolename = $("#RoleName").val()
            var id = $("#Id").val();

            $.ajax({
                url: "/Role/CheckNameIsExist",
                type: "get", //type atau method sama aja.
                data: { Rolename: Rolename, id: id },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_RoleName").text("Role Name Already Axists")
                        return true;
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Role/Edit",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                //debugger //untuk melihat error atau mendebug
                var data = respon.dataRespon
                if (data.success) {
                    //console.log(data) //sama
                    $("#my_Modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 500,
                            fadeOut: 500,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )
                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }

</script>