﻿@using xpos334.viewmodels;
@model VMTblVariant
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewData["Title"] = "Delete Variant Try";
}

<div class="card">
    <div class="card-body">
        <form asp-action="Delete" method="post">
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">
            <div class=" h3 mb-4 row">Are you sure for delete @Model.NameVariant ?</div>
            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-outline-primary" asp-controller="VariantTry" asp-action="Index">Back To List</a>
                </div>
            </div>
        </form>
    </div>
</div>
