﻿@using xpos334.viewmodels;
@model VMTblCustomer
@{
    ViewData["Title"] = "Create Customer";
}

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-4 row">
                <label for="NameCustomer" class="col-sm-4 col-form-label">Name Customer</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCustomer" name="NameCustomer" value="@Model.NameCustomer">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdRole" class="col-sm-4 col-form-label">Name Role</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdRole",
                    new SelectList(ViewBag.ListRole,"Id","RoleName"),
                    "--Select Role--",
                    new{@class = "form-control"}
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Password" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password">
                    <input type="checkbox" onclick="showPassword()"/>show password
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email">
                    <span id="validate_Email" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Address" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="Address" Name="Address">@Model.Address</textarea>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Phone" class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone">
                </div>
            </div>

            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Customer" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>


    </div>
</div>

<script>

    function showPassword() {
        var x = document.getElementById("Password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Email: {
                required: true,
                minlength: 3,
            },
            IdRole: "required",
            NameCustomer: "required",
            Password: "required",
            Address: "required",
            Phone:"required",
        },
        messages: {
            Email: {
                required: "Please fill Email",
                minlength: "The name must consist of at least 3 characters",
            },
            IdRole: "please select Role",
            NameCustomer: "Please fill Name Customer",
            Password: "Please fill Password",
            Address: "Please fill Address",
            Phone: "Please fill Phone",
        },
        submitHandler: function (form) {

            var dataForm = $(form).serialize()
            var email = $("#Email").val()
            var idRole = $("#IdRole").val()
            var id = 0

            $.ajax({
                url: "/Customer/CheckNameIsExsist",
                type: "get", //type atau method sama aja.
                data: { email: email, idRole: idRole, id: id },
                dataType: "json",
                success: function (respon) {

                    if (respon) {
                        $("#validate_Email").text("Email Already Axists")
                        return true;
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })
    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Customer/Create",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_Modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 500,
                            fadeOut: 500,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )
                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }
</script>
