﻿@using Xpos334.Services;
@using xpos334.Services;
@inject AuthService authService

@{
    int IdCustomer = @Context.Session.GetInt32("IdCustomer") ?? 0;
    // string NameCustomer = @Context.Session.GetString("NameCustomer") ?? "";
    int IdRole = @Context.Session.GetInt32("IdRole") ?? 0;
    var menus = await authService.MenuAccess(IdRole);
}

<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin6">
@*     @{
        if (IdCustomer != 0)
        {
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                        <a class="sidebar-link sidebar-link" asp-controller="Home" asp-action="Index"
                       aria-expanded="false">
                        <i data-feather="home" class="feather-icon" style="color:brown"></i> 
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Master</span></li>

                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="Friend" asp-action="Index"
                       aria-expanded="false">
                        <i data-feather="users" class="feather-icon" style="color:blue"></i>
                        <span class="hide-menu">Friend
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="CategoryTry" asp-action="Index"
                       aria-expanded="false">
                        <i data-feather="message-square" class="feather-icon" style="color:green"></i>
                        <span class="hide-menu">Category Try
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="VariantTry" asp-action="Index"
                       aria-expanded="false">
                        <i data-feather="instagram" class="feather-icon" style="color:red"></i><span class="hide-menu">
                            Variant Try
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Category" asp-action="Index"
                       aria-expanded="false">
                        <i data-feather="anchor" class="feather-icon" style="color:darkorange"></i><span class="hide-menu">
                            Category
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Variant" asp-action="Index"
                       aria-expanded="false">
                        <i data-feather="slack" class="feather-icon" style="color:brown"></i><span class="hide-menu">
                            Variant
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Product" asp-action="Index"
                       aria-expanded="false">
                        <i data-feather="inbox" class="feather-icon" style="color:darkorchid"></i><span class="hide-menu">
                            Product
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Role" asp-action="Index"
                       aria-expanded="false">
                        <i data-feather="anchor" class="feather-icon" style="color:darkorange"></i><span class="hide-menu">
                            Role
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Customer" asp-action="Index"
                       aria-expanded="false">
                        <i data-feather="slack" class="feather-icon" style="color:brown"></i><span class="hide-menu">
                            Customer
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Role" asp-action="Index_MenuAccess"
                       aria-expanded="false">
                        <i data-feather="anchor" class="feather-icon" style="color:darkorange"></i><span class="hide-menu">
                            Atur Menu Access
                        </span>
                    </a>
                </li>

                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Transaction</span></li>

                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="Order" asp-action="Catalog"
                       aria-expanded="false">
                        <i data-feather="shopping-cart" class="feather-icon" style="color:darkolivegreen"></i>
                        <span class="hide-menu">
                            Catalog
                        </span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="Order" asp-action="HistoryOrder"
                       aria-expanded="false">
                        <i data-feather="shopping-bag" class="feather-icon" style="color:coral"></i>
                        <span class="hide-menu">
                            History Order
                        </span>
                    </a>
                </li>

                        <li class="list-divider"></li>
               
                <li class="sidebar-item">
                   
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Auth" asp-action="Logout"
                       aria-expanded="false">
                        <i data-feather="log-out" class="feather-icon"></i><span class="hide-menu">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    }
    } *@

    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">

                @foreach (var parent in menus)
                {
                    <li class="sidebar-item">
                        <a class="sidebar-link has-arrow" href="javascript:void(0)"
                           aria-expanded="false">
                            <i data-feather="@parent.MenuIcon" class="feather-icon"></i>
                            <span class="hide-menu">@parent.MenuName</span>
                        </a>
                        <ul aria-expanded="false" class="collapse first-level base-level-line">

                            @foreach (var child in parent.ListChild)
                            {
                                <li class="sidebar-item">
                                    <a asp-controller="@child.MenuController" asp-action="@child.MenuAction" class="sidebar-link">
                                        <span class="hide-menu">@child.MenuName</span>
                                    </a>
                                </li>
                            }

                        </ul>
                    </li>
                }

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->



</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->